
#c {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: 5%;
}

#title {
  position: absolute;
  top: 20px;
  width: 70%;
  left: 20px;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.2);*/
  border-radius: 3px;
  font: 20px Georgia;
  padding: 10px;
  margin-left: 200px;
}

#currentInfo {
  width: 600px;
  position: absolute;
  left: 50px;
  top: 63px;
  padding-left: 30px;

  /*background-color: rgba(0, 0, 0, 0.2);*/

/*  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px;*/
}

#list {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 50px;
  color: black;
  font-size: 20px;

}
#box{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.year {
  align-self: stretch;
  font: 16px Georgia;
  line-height: 26px;
  height: 40px;
  float: left;
  width: 250px;
  color: rgba(255, 255, 255, 0.4);

  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
}

.year:hover,
.year.active {
  font-size: 23px;
  color: #fff;
}

#linkGroup {
  position: absolute;
  left: 20px;
  bottom: 16px;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#divider {
  border: 1px solid #aaa;
  display: inline;
  margin: auto 8px;
}
#globe {
  align-content: center;
 
}